<h1>Language</h1>
<h2>Your language has been updated.</h2>
<hr>
<p>
   <strong>Updated Language:</strong> <%= @lang.lang %><br>
</p>
<br><a href="/admin">Admin Home</a>&nbsp;&nbsp;
<a href="/search">Exit Admin</a>