<h1>Language</h1>
<h2>A new language has been added:</h2>
<hr>
<p>
   <strong>Language:</strong> <%= @lang.lang %><br>
</p>
<br><a href="/admin">Admin Home</a>&nbsp;&nbsp;
<a href="/search">Exit Admin</a>