<center>
  <br><img src="<%= asset_path( 'stringfellow-650.png' ) %>" alt="Stringfellow - Free Software Translation" />
  <h1>Free Software Translation</h1>

    <p>
    Enter a word or short text string in English below to translate into French, German, Spanish and Italian. <br><br>
    </p>

    <form action="/translation" method="post">
      <input type="text" name="term" required size="90" class="lower" autofocus><br><br>
      <input type="submit" value="Translate" class="btn">
    </form>

    <br><br><br><br><br>

</center>