<h1>Admin</h1>

<p>
Manage the available translations here. Select the view options to edit or delete.
</p>

<h2>Terms</h2>
<p>
<a href="/terms/new">Add term</a>&nbsp;&nbsp;
<a href="/terms">View terms</a>
</p>

<h2>Languages</h2>
<p>
<a href="/langs/new">Add language</a>&nbsp;&nbsp;
<a href="/langs">View languages</a>
</p>

<h2>Translations</h2>
<p>
<a href="/translators/new">Add translation</a>&nbsp;&nbsp;
<a href="/translators">View translations</a>
</p>

<!-- <br><a href="/logout">Logout</a> -->
<br><br><a href="/main">Exit Admin</a>