<h1>Admin</h1>

<p>
Manage the available translations here. Select the view options to edit or delete.
</p>

<h2>Terms</h2>
<ul>
  <li><a href="/terms/new">Add a new term.</a></li>
  <li><a href="/terms">View a current list of terms.</a></li>
</ul>


<h2>Languages</h2>
<ul>
  <li><a href="langs/new">Add a new language.</a></li>
  <li><a href="/langs">View a current list of languages.</a></li>
</ul>

<h2>Translations</h2>
<ul>
  <li><a href="/add_translation">Add a new translation.</a></li>
  <li><a href="/fetch_translations">View a current list of translations.</a></li>  
</ul>

<!-- <br><a href="/logout">Logout</a> -->
<br><a href="/search">Exit Admin</a>