<!DOCTYPE html>
<html>
<head>
  <title>Free Software Translation</title>
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content="Find translations for common software strings for free." />
  <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100' rel='stylesheet' type='text/css'>  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
