<h1>Translations</h1>
<h2>Below is the current list of translations.</h2>
<hr>
<% @translator.each do |trans| %>
  <p>
     <strong>ID:</strong> <%= trans.id %> / <strong>Translation:</strong> <%= trans.translator %> <%= link_to 'Edit', :action => 'edit', :id => trans.id %> | 
      <%= link_to 'Delete', {:action => 'destroy', :id => trans.id}, :confirm => 'Are you sure you want to delete this translation?', :method => :delete %>
  </p>
<% end %>

<br><a href="/admin">Admin Home</a>&nbsp;&nbsp;
<a href="/main">Exit Admin</a>