<h1>Translation</h1>
<h2>Your translation has been updated.</h2>
<hr>
<p>
   <strong>Updated Translation:</strong> <%= @translator.translator %><br>
</p>
<br><a href="/admin">Admin Home</a>&nbsp;&nbsp;
<a href="/main">Exit Admin</a>