<h1>Translation</h1>
<h2>A new translation has been added:</h2>
<hr>
<p>
   <strong>Translation:</strong> <%= @translator.translator %><br>
</p>
<br><a href="/admin">Admin Home</a>&nbsp;&nbsp;
<a href="/main">Exit Admin</a>